Python 3.x file to scrape weather data

In [2]:
import pandas as pd #to store our scraped data
from urllib.request import urlopen #to download page contents from a given valid url
from bs4 import BeautifulSoup #to navigate around the page's html
import datetime #to make stepping through dates easy during scraping

The source of the weather data is www.wunderground.com. In particular this web address:

In [10]:
"""https://www.wunderground.com/history/airport/KEUG/2017/01/03/
DailyHistory.html?req_city=Eugene&req_state=OR&req_statename=Oregon&reqdb.zip=
97404&reqdb.magic=1&reqdb.wmo=99999""";

In [9]:
#Added ease by using the package datetime to iterate through the days
day=datetime.date.today();
one_day = datetime.timedelta(days=1);
#the rows I'll scrape from the table in the web page:
temps=['Mean Temperature','Max Temperature','Min Temperature']
#Initialize the pandas dataframe with a column for each value I will scrape from each page.
df=pd.DataFrame(columns=['Date','Mean Temperature','Mean Temperature Average',
                         'Max Temperature','Max Temperature Average','Max Temperature Record',
                         'Min Temperature','Min Temperature Average','Min Temperature Record'])
#Number of days worth of data I will scrape, starting today and working backwards:
for t in range(0,30):
    #creating new url for each pass of the for-loop
    dayStr=day.strftime('%Y %m %d')
    yr, mon, da=dayStr.split(' ')
    day=day-one_day
    url="""https://www.wunderground.com/history/airport/KEUG/%s/%s/%s/DailyHistory.html?req_city=Eugene&req_state=OR&req_statename=Oregon&reqdb.zip=97404&reqdb.magic=1&reqdb.wmo=99999""" %(yr,mon,da);
    #opening and parsing the html of the page
    html = urlopen(url);
    soup=BeautifulSoup(html.read(),'html.parser');
    #finding a subsection of the html. A table which contains all the data I desire
    soup2=soup.find('table', class_='responsive airport-history-summary-table');
    #locating most rows in the table
    classSet=soup2.find_all(class_='indent');
    vals=[];
    #iterating through the rows of the table to find the ones with data I desire
    for y in range(0,len(classSet)):
        a=classSet[y]
        cat=str(a.contents).replace('[<span>','').replace('</span>]','');
        if cat in temps:
            for x in range(0,10):
                if 'wx-value' in str(a):
                    b=a.find(class_='wx-value')
                    c=str(b.contents).replace("['","").replace("']","");
                    vals.append(int(c))
                try:
                    a=a.next_sibling
                except:
                    break
    df.loc[t,'Date']=yr+mon+da
    df.iloc[t,1:]=vals
df

,Date,Mean Temperature,Mean Temperature Average,Max Temperature,Max Temperature Average,Max Temperature Record,Min Temperature,Min Temperature Average,Min Temperature Record
0,20170117,36,41,45,47,67,28,34,15
1,20170116,32,41,40,47,64,24,34,16
2,20170115,28,41,35,47,64,21,34,10
3,20170114,27,41,32,47,60,21,34,15
4,20170113,27,40,30,47,62,24,34,10
5,20170112,30,40,34,47,62,26,34,6
6,20170111,38,40,46,47,62,30,34,8
7,20170110,36,40,39,46,65,34,34,8
8,20170109,35,40,39,46,63,31,34,10
9,20170108,31,40,37,46,65,25,34,6
10,20170107,26,40,28,46,60,24,34,9
11,20170106,26,40,39,46,62,12,34,12
12,20170105,23,40,34,46,67,12,34,12
13,20170104,28,40,34,46,69,21,34,14
14,20170103,30,40,36,46,60,24,34,9
15,20170102,34,40,37,46,57,30,34,8
16,20170101,36,39,39,45,61,33,34,7
17,20161231,33,39,36,45,62,29,34,10
18,20161230,39,39,47,45,66,31,33,10
19,20161229,43,39,53,45,63,33,33,12
20,20161228,36,39,41,45,65,30,33,19
21,20161227,44,39,47,45,61,40,33,16
22,20161226,33,39,43,45,62,23,33,1
23,20161225,35,39,44,45,62,25,33,-1
24,20161224,35,39,44,45,60,26,33,-4
25,20161223,40,39,45,45,66,35,33,-2
26,20161222,38,39,45,45,62,30,33,4
27,20161221,31,39,33,45,62,29,33,6
28,20161220,40,39,51,45,64,28,33,7
29,20161219,38,39,45,45,64,30,33,4